extends ../layout

block content
  a(href='/usuarios') Back

  br
  br
  br

  h1  New User

  br
  br

  form(action='/users/create' method='post')
    .form-group
        label(for='name') Name: 
        input#name.form-control(type='text' name='name' value= user.name class=errors.name ? 'is-invalid' : '')
        if errors.name
            small#nameHelp.text-danger
               = errors.name.message  
    .form-group
        label(for='email') Email: 
        input#email.form-control(type='text' name='email' value= user.email class= errors.email ? 'is-invalid' : '')
        if errors.email
            small#emailHelp.text-danger
               = errors.email.message  
    
    .form-group
        label(for='pwd') Password: 
        input#pwd.form-control(type='password' name='password' class= errors.password ? 'is-invalid' : '')
        if errors.password
            small#passwordHelp.text-danger
               = errors.password.message  
    .form-group
        label(for='confirm_pwd') Confirm Password: 
        input#confirm_pwd.form-control(type='password' name='confirm_password' class= errors.confirm_password ? 'is-invalid' : '')
        if errors.confirm_password
            small#confirm_passwordHelp.text-danger
               = errors.confirm_password.message  
    br
    br
    input.btn.btn-primary(type='submit' value='OK')