extends ../layout

block content
  a(href='/users') Back

  br
  br
  br

  h1  Update User

  br
  br

  form(action=`/users/${user.id}/update` method='post')
    .form-group
        label(for='name') Name: 
        input#nombre.form-control(type='text' name='name' value= user.name class=errors.name ? 'is-invalid' : '')
        if errors.name
            small#nameHelp.text-danger
               = errors.name.message  
    
    
    br
    br
    input.btn.btn-primary(type='submit' value='OK')
